<section>
    <div class="games">
        <h2 class="bkg-red"><b>PAR ou IMPAR</b></h2>
        Escolha PAR ou IMPAR:
        <select #classe (change)="0">
            <option>PAR</option>
            <option>IMPAR</option>
        </select>

    </div>
</section>
<section class="games">
    <div>
        Digite um numero: 
        <input type="text"
            (keyup)="numero($event)"/>
        <button (click)="parOuImpar()">
            Jogar
        </button>
      <br> <br> Valor digitado: {{ numPlayer }} <br>
        Valor Pc: {{ numPc }} <br>
        Valor result: {{ result }} <br>
        Resultado: {{ resultado }} <br>

    </div>
</section>