<section>
    <div>
        <h2>PAR ou IMPAR</h2>
        Escolha PAR ou IMPAR:
        <select #classe (change)="0">
            <option value="alert-success">PAR</option>
            <option value="alert-info">IMPAR</option>
        </select>

        <div class="class {{ classe.value }}" role="alert">{{ classe.value }}</div>

    </div>
</section>
<section>
    <div>
        Digite um numero:
        <input type="text"
            (keyup)="numero($event)"/>
        Valor digitado: {{ numPlayer }}
    </div>
</section>